html, body {
    height: 100%;
    min-height: 600px
}
.container-fluid, .ccm-main {
    height: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
    width: 220px;
    position: sticky;
}
.sidebar_view {
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, .1);
}
.sidebar_list {
    height: 300px;
    overflow: auto;
}

.sidber-fixed-bottom {
    position: fixed;
    width: 220px;
    bottom: 0;
    z-index: 2000;
}

[role="main"] {
    margin-left: 265px;
    max-width: 1670px;
    max-height: 937px;
}
#inspection_view {
    height: 280px;
}
#clip_inspection_view {
    width: 300px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.btn_ccm_inspection {
    width: 50px;
    height: 38px;
}
.ccm_reload_button {
    width: 50px;
    height: 38px;
    border-color: #007bff;
}

@media (max-width: 1275px) {
    html body {
        min-width: 1275px;
    }
    
    #transmitter_inspection_view {
        min-width: 210px;
    }
    #receiver_inspection_view {
        min-width: 210px;
    }
}
@media (max-width: 600px) {
    html body {
        min-height: 600px;
    }
}


/* http://proengineer.internous.co.jp/content/columnfeature/6492 */
input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}
input[type="radio"]:disabled + label {
    background: #E9ECEF;/* マウス選択時の背景色を指定する */
    color: #80757D; /* マウス選択時のフォント色を指定する */
}
.network_client_radio_label:hover {
    background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */ 
}
.network_client_radio_label {
    margin: 5px;	/* ラベル外側の余白を指定する */
    border: 1px solid #006DD9;/* ラベルの境界線を実線で指定する */
}

.ccm_card {
    width: 200px;
    background-color: transparent;
}
.ccm_card_image {
    display:flex;
    align-items:center;
    width: 33px;
}
.ccm_card_detail {
    width: 165px;
}
.ccm_card_body {
    padding-top: 0;
    padding-bottom: 0;
}
.list_style_none {
    list-style: none;
    padding-left: 0;
}

#tx_networkclient_chart {
    min-width: 200px;
    width: 230px;
    height: 160px;
}
.networkclient_chart {
    min-width: 200px;
    width: 210px;
    height: 160px;
}
.mcbnetworkinfochart_chart {
    width: 100%;
    height: 100px;
}
.streaming_chart {
    min-width: 400px;
    height: 100px;
}
.streaming_interfaces {
    max-height: 150px;
}
.streamingstart-input-group-prepend {
    min-width: 136px;
}
.streamingstart-input-group-text {
    min-width: 136px;
}
.streamingreceivestart-input-group-prepend {
    min-width: 143px;
}
.streamingreceivestart-input-group-text {
    min-width: 143px;
}

#transmitterinspectionview_textarea {
    resize: none;
}
#tx_networkclient_detail {
    height: 200px;
}

.cliptransferview_result_label_allsuccess, .cliptransferview_resultitem_label_success {
    color: limegreen;
}
.cliptransferview_result_label_failed, .cliptransferview_resultitem_label_error {
    color: red;
}

.streaming_thumbnail {
    width: 400px;
}

#operation_view {
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, .1);
}

#recorder_plameta_inspection_view_metadata {
    height: 500px;
}

.recorder_drive_label {
    width: 140px;
}
.recorder_clip_label {
    width: 140px;
}
.recorder-plameta-registerfile-input-group-text {
    width: 80px;
}
